body {
    background-image: url("../Imagenes/puente2.jpg");
    background-attachment: fixed;
}
.menu {
    background-image: url("../Imagenes/logo1.png");
}

.fondo1 {
    background-color: #f7f7f7;
    margin-bottom: 300px;
}
.fondo2 {
    background-color: #f7f7f7;
    margin-bottom: 300px;
    margin-bottom: 550px;
}
.fondo3 {
    background-color: #f7f7f7;
}

ul {
    list-style-type: none;
    padding: 5px;
    text-align: center;
}

li {
    display: inline;
    padding: 10px;
    font-size: x-large;
    font-weight: bold;
    font-family: sans-serif;
    color: lavenderblush;
    text-decoration: none;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 3px;
    background-color: lightblue;
    color: white;
  }

  .clickable {
      cursor: pointer;
  }

  .navigation > li > a {
      color: whitesmoke;
  }

  .navigation > li > a:hover {
    color: salmon;
    text-decoration: none;
    cursor: pointer;
   }